<h1>  Hello world </h1>


<%if user_signed_in?%>

<%=button_to "Logout" ,destroy_user_session_path , method: :delete , :class => "logout btn btn-danger"%>
<h1> Hello <%=current_user.email%> </h1>
<%else%>
<%=link_to "Login" ,new_user_session_path , :class => "btn btn-primary"%>
<%=link_to "Signup" , new_user_registration_path, :class => "btn btn-primary"%>

<%end%> 