<div class="media">
  <a class="pull-left" href="#"><img class="media-object" src="<%= asset_path('avatar1.png') %>"></a>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user ? comment.user.name : "Anonymous" %></h4>
    <p><%= comment.content.html_safe %></p>
    <ul class="list-unstyled list-inline media-detail pull-left">
      <li><i class="fa fa-calendar"></i><%= comment.created_at.strftime("%d/%m/%Y") %></li>
    </ul>
  </div>
</div>
