<%= content_tag "div", id: "downvote-#{post.id}", class: "downvote-btn" do %>
  <%= link_to downvote_post_path(post), method: :patch, remote: true, data: { disable_with: "voting..." } do %>
    <% if user_signed_in? %>
      <% if current_user.voted_down_on? post %>
        <span class="vote_down_on"></span>
      <% else %>
        <span class="vote_down_off"></span>
      <% end %>
    <% else %>
      <% link_to "", user_session_path, class:"vote_down_off" %>
    <% end %>
  <% end %>
<% end %>
