<div class="container">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<div class="container">
<% unless user_signed_in? %>
    <%= link_to "Create Blog With As Guest", new_post_guest_posts_path, :class => "btn btn-primary blog-btn" %>
<% end %>
</div>
