<div class="blog-post"> 
  <article> 
    <div class="blog-content"> 
      <summary> 
        <h3><%= @post.title %></h3> 
	<div class="blog-date"><%= @post.created_at.strftime("%d/%m/%Y") %></div> 
      </summary> 
      <p><%= @post.content.html_safe %></p> 
    </div> 
    <div class="blog-img"> 
      <%= image_tag @post.image if @post.image.attached? %> 
    </div>  
  </article> 
</div>
